HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignore all log files
*.log
logs/
.env
*.txt
applicationinsights-agent-*.jar
applicationinsights.json

# Local .terraform directories
**/.terraform/*
/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
*.tfvars

crash.log
crash.*.log

# Override files
override.tf
override.tf.json