name: CI/Cd for Product Management System
on:
    push:
        branches: [main,develop]
        paths-ignore: ["*.md"]
    pull_request:
        branches: [main]
env:
    JAVA_VERSION: 25


jobs:
    test:
        runs-on: ubuntu-latest
        steps:
        -   name: Checkout code
            uses: actions/checkout@v4

        -   name: Set up JDK 21 # Or your version
            uses: actions/setup-java@v4
            with:
                java-version: ${{env.JAVA_VERSION}}
                distribution: 'temurin'
                cache: maven

        -   name: Run tests
            run: mvn clean verify

        -   name: Upload artifact
            uses: actions/upload-artifact@v4
            with:
                name: app-jar
                path: target/*.jar

        -   name: Upload Test Report
            uses: actions/upload-artifact@v4
            if: always()
            with:
                name: junit-reports
                path: target/surefire-reports/

# TODO CREATE THE BUILD PIPELINE
    
