name: CI/Cd for Product Management System
on:
    push:
        branches: [main,develop,feature/ci-cd-pipeline]
        paths-ignore: ["*.md"]
    pull_request:
        branches: [main]

env:
    JAVA_VERSION: 21

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    test:
        strategy:
            matrix:
                os: [windows-latest,ubuntu-latest]
                java: [17,21]
        uses: ./.github/workflows/test-workflow.yml
        with:
            os: ${{matrix.os}}
            java: ${{matrix.java}}


# TODO CREATE THE BUILD PIPELINE
    build: 
        name: Build application
        needs: test
        runs-on: ubuntu-latest
        steps:

        -   name: Checkout the repository
            uses: actions/checkout@v4

        -   name: Set up Java ${{env.JAVA_VERSION}}
            uses: actions/setup-java@v4
            with:
                java-version: ${{env.JAVA_VERSION}}
                distribution: 'temurin'
                cache: maven

        # run the build
        -   name: run build
            run: mvn clean package -DskipTests
        
        -   name: Save the artifact
            uses: actions/upload-artifact@v4
            with:
                name: spring-boot-app
                path: target/*.jar
    deploy:
        name: Deploy to production
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        runs-on: ubuntu-latest
        steps:
            -   name: deploying message
                run: echo "Deploying to production ..."





    
