name: Test workflow

on:
  workflow_call:
    inputs: 
      java:
        type: string
        required: true
        default: "21"
      os:
        type: string
        required: true
        default: ubuntu-latest

  

jobs:
    test:
        name: Run tests
        runs-on: ${{inputs.os}}
        steps:

        -   name: Checkout code
            uses: actions/checkout@v4

        -   name: Set up JDK ${{inputs.java}} 
            uses: actions/setup-java@v4
            with:
                java-version: ${{inputs.java}}
                distribution: 'temurin'
                cache: maven

        -   name: Run tests
            run: mvn clean verify

        -   name: Upload Test Report
            uses: actions/upload-artifact@v4
            if: always()
            with:
                name: junit-reports ${{inputs.os}} ${{inputs.java}}
                path: target/surefire-reports/
        